* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.App {
  background: #eee;
}

.app-header {
  padding: 2rem;
  text-align: center;
}

.articles {
  max-width: 960px;
  width: 90%;
  margin: auto;
  padding: 2rem 0;

  h1 {
    text-align: center;
    display: block;
  }

  > .article {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 2rem;

    .article-title {
      font-weight: 600;
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }
}
